# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# VSCode settings
.vscode/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# SQLite database files
*.db
*.sqlite3

# Logs
*.log

# Python metadata
*.egg-info/
.eggs/
dist/
build/

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
pytest_cache/
coverage.xml

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# FastAPI/Starlette
instance/
.env
.env.*

# Pyright
pyrightconfig.json
